<html>
    <head>
    </head>
    <body>
        <h2>Approvals Pending</h2>
        <table cellspacing=0 cellpadding=10 border=1>
            <tr>
                <th>Description</th>
                <th>User</th>
                <th>Date</th>
                <th>Details</th>
            </tr>
            {% for approval in approvals %}
                <td>{{ approval.description }}</td>
                <td>{{ approval.initiator }}</td>
                <td>{{ approval.initiated|date:"Y-m-d" }}</td>
                <td><a href="{% url 'approval_detail' pk=approval.id %}">details</a></td>
            {% endfor %}
            </tr>
        </table>
    </body>
</html>
